#!/usr/bin/env bash
set -e

# AWS CDK Env.
export USER_POOL_CLIENT_SECRET="${USER_POOL_CLIENT_SECRET:-1kfledcbco2dci9v38toq1fps74vu6fot8bmj0uer0bl9at2iuku}"

# Paths.
go env -w "GOPRIVATE=github.com/warpspeedboilerplate/$APP_NAME"

