#!/usr/bin/env bash
set -e

# Environment.
export ENVIRONMENT=${ENVIRONMENT:-staging}
export NGROK_DOMAIN=${NGROK_DOMAIN:-'aws-appsync-go'}

# AWS CDK Env.
export AWS_REGION=${AWS_REGION:-eu-west-2}
export AWS_ACCOUNT_ID=${AWS_ACCOUNT_ID:-999999999999}
export USER_POOL_CLIENT_SECRET=${USER_POOL_CLIENT_SECRET:-cccccccccccccccccccccccccccccccccccccccccccccccccccc}

# Paths.
go env -w GOPRIVATE=github.com/davemackintosh/aws-appsync-go
export PATH=${GOBIN}:$PATH

# API Keys.
export OAUTH_CALLBACK_ROOT=${OAUTH_CALLBACK_ROOT:-https://$NGROK_DOMAIN.eu.ngrok.io/api/oauth/callback}
export GITHUB_ACCESS_TOKEN=${GITHUB_ACCESS_TOKEN:-ghp_000000000000000000000000000000000000}
