#!/usr/bin/env bash
set -e

export APP_NAME=${APP_NAME:-$(basename `git rev-parse --show-toplevel`)}
export GITHUB_USERNAME=${GITHUB_USERNAME:-$(git config user.name)}

if [ "$APP_NAME" = "" ]; then
  echo "APP_NAME is not set"
  return 1
fi

if [ "$GITHUB_USERNAME" = "" ]; then
  echo "GITHUB_USERNAME is not set"
  return 1
fi

# Environment.
export ENVIRONMENT="${ENVIRONMENT:-staging}"
export NGROK_DOMAIN="${NGROK_DOMAIN:-$APP_NAME}"

# AWS CDK Env.
export AWS_REGION="${AWS_REGION:-eu-west-2}"
export AWS_ACCOUNT_ID="${AWS_ACCOUNT_ID:-507348277062}"
export USER_POOL_CLIENT_SECRET="${USER_POOL_CLIENT_SECRET:-1kfledcbco2dci9v38toq1fps74vu6fot8bmj0uer0bl9at2iuku}"

# Paths.
go env -w "GOPRIVATE=github.com/$GITHUB_USERNAME/$APP_NAME"
export PATH="$GOBIN:$PATH"
export PATH="$(pwd)/bin:$PATH"

# Appsync specifics.
export OAUTH_CALLBACK_ROOT="${OAUTH_CALLBACK_ROOT:-https://$NGROK_DOMAIN.eu.ngrok.io/api/oauth/callback}"
export COGNITO_CALLBACK_URLS="${COGNITO_CALLBACK_URLS:-$OAUTH_CALLBACK_ROOT/cognito,http://localhost:3000/api/auth/callback/cognito}"

# API Keys.
export GITHUB_ACCESS_TOKEN="${GITHUB_ACCESS_TOKEN:-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}"
