.load {
min-height: 1em;
line-height: 1;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.load::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: -100px;
	background-image: linear-gradient(90deg, rgb(0 0 0 / 0%), rgb(0 0 0 / 60%), rgb(0 0 0 / 0%));
	animation: progress 1.2s ease-in-out infinite;
}

@keyframes progress {
	0% {
		left: -100px;
	}

	100% {
		left: 100%;
	}
}
