.docsPage {
	display: flex;
	flex-direction: row;
}

.docsContent {
	flex: 2;
}

.docsSidebar {
	flex: 1;
	background-color: #2e3440;
	padding-left: 1em;
	padding-top: 1em;
}

.docsSidebar li {
	color: #fff;
}

.docsSidebar a {
	color: #fff;
	line-height: 2em;
}
