.logoContainer {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	vertical-align: top;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.logoContainer:hover .dotsText {
	width: 40px;
	left: 0;
	transform: scale(1);
}

.dot {
	color: pink;
	font-size: 4em;
	margin: 0;
	padding: 0;
	line-height: 1rem;
}

.dotsText {
	display: inline-block;
	width: 0;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	position: relative;
	left: -10px;
	transform: scale(0);
}

.dotsMeta {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: 0.5rem;
	transition: all 0.2s ease-in-out;
}
