.docBoxContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2%;
}

.docBox {
	border-radius: 8px;
	background-color: #fff;
	padding: 1.45rem 1.0875rem;
	border: 1px solid #ccc;
	margin-bottom: 1.25rem;
	position: relative;
}

.docBox:hover {
	box-shadow: 0 0 10px #ccc;
	border-color: #000;
	transition: all 0.2s ease-in-out;
}

.done:after {
	content: "you've read this ✅";
	color: #cfcfcf;
	font-size: 0.8rem;
	position: absolute;
	right: 1.0875rem;
	top: 1.85rem;
	transition: all 0.2s ease-in-out;
}

.docLink {
	text-decoration: none;
}

.docTitle {
	font-size: 1.5rem;
	text-decoration: underline;
	margin-top: 0;
}

.docDescription {
	font-size: 1rem;
}
